/*Variables start*/
:root {
  --colorMain: #e0006c;
  --colorMain2: #fd61e3;
  --darkColor: #1a1a1a;
  --dark: #000;
  --white: #fff;
  --fontColor: #999999;
  --colorMainLighten10: #ff1485;
  --fontColorDarken7: #878787;
  --colorMainRgba1: rgba(224, 0, 108, 1);
  --colorMainRgba04: rgba(224, 0, 108, 0.4);
  --colorMainRgba02: rgba(224, 0, 108, 0.2);
  --colorMain2Rgba1: rgba(253, 97, 227, 1);
  --colorMain2Rgba09: rgba(253, 97, 227, 0.9);
  --colorMain3Rgba09: rgba(255, 79, 215, 0.9);
  --colorMain4Rgba08: rgba(255, 119, 184, 0.8);
  --fontColorRgba04: rgba(153, 153, 153, 0.4);
}
/*Variables end*/
