/* Reset start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Reset end */
/*Layout start*/
::selection{
  background-color: violet;
  color: #fff;
}
.container {
  width: 85%;
  margin: auto;
}

.row {
  display: flex;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

/*Layout end*/
/*Variables start*/
:root {
  --colorMain: #e0006c;
  --colorMain2: #fd61e3;
  --darkColor: #1a1a1a;
  --dark: #000;
  --white: #fff;
  --fontColor: #999999;
  --colorMainLighten10: #ff1485;
  --fontColorDarken7: #878787;
  --colorMainRgba1: rgba(224, 0, 108, 1);
  --colorMainRgba04: rgba(224, 0, 108, 0.4);
  --colorMainRgba02: rgba(224, 0, 108, 0.2);
  --colorMain2Rgba1: rgba(253, 97, 227, 1);
  --colorMain2Rgba09: rgba(253, 97, 227, 0.9);
  --colorMain3Rgba09: rgba(255, 79, 215, 0.9);
  --colorMain4Rgba08: rgba(255, 119, 184, 0.8);
  --fontColorRgba04: rgba(153, 153, 153, 0.4);
}

/*Variables end*/
/*Responsive start*/
/* Large Devices, Wide Screens */
@media (max-width: 1920px) {
  .col-1 {
    width: 8.3333333333%;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333333333%;
  }
  .col-8 {
    width: 66.6666666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333333333%;
  }
  .col-11 {
    width: 91.6666666667%;
  }
  .col-12 {
    width: 100%;
  }
}
/* Medium Devices, Desktops */
@media (max-width: 992px) {
  header .header-top .social-links {
    display: none;
  }
  header .menu .menu-main {
    display: none;
  }
  header .header-bottom {
    display: none;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* Small Devices, Tablets */
@media (max-width: 768px) {
  .menu .container {
    width: 100%;
  }
  #contact {
    width: 100% !important;
  }
  #contact .container {
    width: 100% !important;
  }
  #contact .container input {
    width: 100%;
  }
  #agency .error-404 h2 {
    font-size: 200px;
  }
  #agency .error-404 input {
    width: 40%;
  }
  #blog .wrapper .instagram img {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*Responsive end*/
/*Header start*/
header .header-top {
  background-color: var(--darkColor);
  padding: 20px 0;
  color: var(--fontColor);
}
header .header-top a {
  color: var(--fontColor);
  transition: color 0.5s;
}
header .header-top a:hover {
  color: var(--colorMain);
}
header .header-top i {
  margin-left: 20px;
  padding: 10px;
}
header .header-top .social-links a:nth-child(1) {
  color: #3b5998;
}
header .header-top .social-links a:nth-child(2) {
  color: #55acee;
}
header .header-top .social-links a:nth-child(3) {
  color: #0976b4;
}
header .header-top .social-links a:nth-child(4) {
  color: #cc2127;
}
header .header-top .social-links a:hover {
  color: var(--white);
}
header .header-top .register i {
  transition: background-color, color 0.5s;
  cursor: pointer;
}
header .header-top .register i:hover {
  color: var(--white);
  background-color: var(--colorMain);
}
header .menu {
  padding: 10px 0;
  background-color: var(--dark);
}
header .menu .logo {
  width: 170px;
}
header .menu .menu-main li:hover hr {
  width: 100%;
  visibility: visible;
}
header .menu .menu-main hr {
  width: 0;
  visibility: hidden;
  transition: width 0.6s;
  background-color: var(--colorMain);
  padding: 1px;
  border: none;
  margin-top: 5px;
}
header .menu li {
  position: relative;
}
header .menu li a {
  color: var(--white);
  padding: 25px;
  transition: color 0.5s;
  transition: display 0.5s;
}
header .menu li a:hover {
  color: var(--colorMain);
}
header .menu li:hover > .sub-menu {
  display: block;
}
header .menu li .sub-menu {
  position: absolute;
  line-height: 2;
  top: 41px;
  background-color: var(--darkColor);
  width: 260px;
  display: none;
  z-index: 2;
}
header .menu li .sub-menu li {
  transition: border 0.7s;
}
header .menu li .sub-menu li a {
  transition: color 1s;
}
header .menu li .sub-menu li:hover {
  border-bottom: 1px solid var(--colorMain);
}
header .menu li .sub-menu li:hover a {
  color: var(--colorMain);
}
header .menu .contact h2 {
  color: var(--colorMain);
}
header .menu .contact span {
  color: var(--white);
}
header .header-bottom {
  color: var(--white);
  background-color: var(--colorMain2);
  padding: 20px 0;
}
header .header-bottom .transition {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-bottom .transition i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
header .header-bottom .transition ul {
  display: flex;
}
header .header-bottom .transition ul li {
  margin-right: 5px;
  padding: 10px;
  background-color: var(--white);
  transition: opacity 0.6s;
}
header .header-bottom .transition ul li:hover {
  opacity: 0.6;
}
header .header-bottom .transition ul li:nth-child(3) {
  background-color: var(--dark);
  color: var(--white);
}
header .header-bottom .register {
  text-align: end;
}
header .header-bottom .register i {
  margin-right: 15px;
}

/*Header end*/
/*Main start*/
main {
  /*Blog start*/
  /*Main end*/
}
main #blog {
  background-color: var(--darkColor);
  padding: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  /*Blog end*/
}
main #blog .item {
  background-color: var(--dark);
  margin-bottom: 50px;
  position: relative;
  color: #fff;
}
main #blog .item .corner {
  position: absolute;
  content: "";
  top: 0;
  color: var(--white);
}
main #blog .item .corner span {
  display: block;
}
main #blog .item .corner span:nth-child(1) {
  font-size: 30px;
}
main #blog .item .corner span:nth-child(2) {
  color: var(--dark);
}
main #blog .item .corner .date {
  text-align: center;
  background-color: var(--colorMain);
  padding: 10px;
  text-align: center;
}
main #blog .item .corner .comment {
  padding: 5px;
  background-color: var(--dark);
}
main #blog .item .corner .comment span {
  cursor: pointer;
  font-size: 15px;
  transition: color 0.6s;
}
main #blog .item .corner .comment span:hover {
  color: var(--colorMain);
}
main #blog .item .corner .comment span i {
  margin-right: 10px;
  color: var(--colorMain);
}
main #blog .item .content {
  padding: 40px;
  margin-bottom: 10px;
}
main #blog .item .content h2 {
  cursor: pointer;
  font-size: 40px;
  font-weight: lighter;
  transition: color 0.6s;
  margin-bottom: 20px;
}
main #blog .item .content h2:hover {
  color: var(--colorMain);
}
main #blog .item .content i {
  background-color: var(--white);
  padding: 10px;
  color: var(--dark);
}
main #blog .item .content i:nth-child(2) {
  color: var(--colorMain);
  background-color: var(--darkColor);
}
main #blog .item .content span:nth-child(4) {
  float: right;
  background-color: var(--colorMain);
  padding: 10px;
}
main #blog .item .content p {
  color: var(--fontColor);
  margin: 20px 0;
}
main #blog .item .content ul {
  list-style: circle;
}
main #blog .item .content li {
  color: var(--fontColor);
  margin: 0 10px 10px 15px;
  list-style: circle;
}
main #blog .item .content .links a {
  display: inline-block;
  background-color: var(--colorMain);
  color: var(--white);
  padding: 5px 10px;
  margin-bottom: 5px;
}
main #blog .wrapper {
  margin-top: 50px;
  padding: 20px;
}
main #blog .wrapper h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
}
main #blog .wrapper .search {
  align-items: center;
  background-color: var(--dark);
  padding: 20px;
  color: var(--white);
}
main #blog .wrapper .search input {
  border: 1px solid var(--fontColor);
  color: var(--fontColor);
  background-color: var(--dark);
  padding: 10px;
}
main #blog .wrapper .search i {
  background-color: var(--colorMain);
  padding: 10px;
  color: var(--white);
}
main #blog .wrapper .search i:hover {
  color: var(--dark);
}
main #blog .wrapper .categories {
  background-color: var(--dark);
  padding: 20px;
  color: var(--white);
}
main #blog .wrapper .categories ul li {
  text-align: start;
  cursor: pointer;
  padding: 10px 0;
  border-top: 0.15px solid var(--fontColor);
  border-bottom: 0.5px solid var(--fontColor);
}
main #blog .wrapper .categories ul li:hover a {
  color: var(--white);
}
main #blog .wrapper .categories ul li a {
  transition: color 0.6s;
  color: var(--colorMain);
}
main #blog .wrapper .categories ul li span {
  float: right;
}
main #blog .wrapper .ad {
  padding: 20px;
  background-color: var(--dark);
}
main #blog .wrapper .ad h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
  color: var(--white);
}
main #blog .wrapper .tags {
  padding: 20px;
  background-color: var(--dark);
}
main #blog .wrapper .tags h3 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
  color: var(--white);
}
main #blog .wrapper .tags a {
  text-align: center;
  display: inline-block;
  width: 46%;
  color: var(--white);
  padding: 10px 15px;
  border: 1px solid var(--fontColor);
  margin: 0 5px 15px 0;
  transition: color 0.6s;
}
main #blog .wrapper .tags a:hover {
  color: var(--colorMain);
}
main #blog .wrapper .instagram img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 0 10px 5px 10px;
  transition: opacity 0.6s;
}
main #blog .wrapper .instagram img:hover {
  opacity: 0.7;
}

/*Footer start*/
footer .top-part {
  padding: 80px 0;
  background-color: var(--dark);
}
footer .top-part img {
  width: 80%;
  height: 80px;
}
footer .top-part li {
  margin: 7px 0;
}
footer .top-part li a {
  color: var(--colorMain);
  transition: color 0.6s;
}
footer .top-part li a:hover {
  color: var(--white);
}
footer .top-part h2 {
  color: var(--white);
  font-size: 30px;
}
footer .top-part .social-links {
  display: flex;
}
footer .top-part .social-links li {
  padding: 10px;
}
footer .top-part .social-links li i {
  background-color: var(--fontColor);
  color: var(--dark);
  padding: 5px 10px;
}
footer .top-part p {
  color: var(--fontColor);
}
footer .top-part .visit {
  height: 100%;
}
footer .bottom-part {
  text-align: center;
  padding: 50px 0;
}
footer .bottom-part span {
  color: var(--fontColor);
}

/*Footer end*//*# sourceMappingURL=blog.css.map */